html, body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header, .section1, .section2 {
  padding: 50px 150px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  max-width: 140px;
  width: 100%;
  height: auto;
}


.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 1;
  justify-content: flex-end;
}

.item{
    font-weight: bold;
}

.item2{
    color: grey;
}

.cart {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  width: 18px;
  height: auto;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}


.banner-heading{
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 65px;
}

.banner-heading:hover{
    transform: scale(1.02);
    transition: transform 0.2 ease;
}

.banner-heading span{
    color: #E95A08;
}

.banner-subheading{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: rgb(175, 175, 175);
}

.banner-subheading:hover{
    color: black;
    transform: scale(1.03);
    transition: transform 0.2s ease;
}

.section1{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sub-header{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: rgb(142, 134, 134);
    margin-bottom: 50px;
}

.sub-header:hover{
    color: black;
    transform: scale(1.03);
    transition: transform 0.2s ease;
}

.header span{
    color: #E95A08;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 230px);
    row-gap: 25px;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}


.grid{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.grid:hover{
    transform: scale(1.03);
    transition: transform 0.2s ease;
}
.grid-img{
    width: 230px;
}

.grid-button{
    width: 230px;
    background-color: #E95A08;
    border: none;
    font-family: "Inter", sans-serif;
    padding: 10px 20px;
}


.grid p{
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.grid p span{
    font-weight: bold;
}

.section2-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 190px;
}

.left, .right{
    width: 540px;
    height: 597px;
}


.badge{
    width: 50%;
    position: relative;
    left: 70%;
    top: -120%;
}

@media screen and (max-width:768px){
    header, .section1, .section2 {
     padding: 10px 16px;
    }
    .item, .item2{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        
    }
    
    .banner-heading, .header{
        font-size: 24px;
    }
    
    .banner-subheading, .sub-header{
        font-size: 14px;
    }

    .grid-container{
        grid-template-columns: repeat(2,171px);
    }

    .grid-img, .grid-button{
        width: 171px;
    }
    
    .section2-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right{
        margin-top: 0px;

    }

    .left-image{
        width: 70%;
    }

    .badge{
        display: none;
    }

}