html, body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header, .section1, .section2, .section3, .final-section {
  margin: 50px 150px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  max-width: 140px;
  width: 100%;
  height: auto;
}


.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
  flex: 1;
  justify-content: flex-end;
}

.item{
    font-weight: bold;
}

.item2{
    color: grey;
}

.cart {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  width: 18px;
  height: auto;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}


.banner-heading{
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 65px;
}

.banner-heading:hover{
    transform: scale(1.02);
    transition: transform 0.2 ease;
}

.banner-heading span{
    color: #E95A08;
}

.banner-subheading{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: rgb(175, 175, 175);
}

.banner-subheading:hover{
    color: black;
    transform: scale(1.03);
    transition: transform 0.2s ease;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header:hover{
    transform: scale(1.05);
    transition: transform 0.2 ease;
}

.sub-header{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: rgb(142, 134, 134);
    margin-bottom: 50px;
}

.sub-header:hover{
    color: black;
    transform: scale(1.03);
    transition: transform 0.2s ease;
}

.header span{
    color: #E95A08;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    row-gap: 35px;
    column-gap: 35px;
    align-items: center;
    justify-content: center;
}


.grid{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.grid:hover{
    transform: scale(1.03);
    transition: transform 0.2s ease;
}
.grid-img{
    width: 280px;
}

.grid-button{
    width: 280px;
    background-color: #E95A08;
    border: none;
    font-family: "Inter", sans-serif;
    padding: 10px 20px;
}


.grid p{
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.grid p span{
    font-weight: bold;
}

.section2-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 190px;
}

.left{
    width: 540px;
    height: 597px;
}

.left:hover{
    transform: scale(1.02);
    transition: transform 0.2s ease;
}

.badge{
    width: 50%;
    position: relative;
    left: 70%;
    top: -120%;
    animation: spin 6s linear infinite;
}


@keyframes spin {
    0% {
    transform: rotate(0deg);
       }
    100% {
    transform: rotate(360deg);
    }
    
}

.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.section3-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas:
        "item1 item2"
        "item3 item2";
    gap: 20px; 
    width: 90%;
    margin-top: 20px;
    font-family: "Noto Serif", serif;
    font-weight: bold
}

.section3-container u{
    font-family: "Inter", sans-serif;
}

.deal-item1 {
    grid-area: item1;
    background-image: url('./assets/deal-bloom.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deal-item1:hover{
    transform: scale(1.02);
    transition: transform 0.2 ease;
}

.deal-item2 {
    grid-area: item2;
    background-image: url('./assets/deal-zabo.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.deal-item2:hover{
    transform: scale(1.02);
    transition: transform 0.2 ease;
}

.deal-item3 {
    grid-area: item3;
    background-image: url('./assets/deal-ana.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deal-item3:hover{
    transform: scale(1.02);
    transition: transform 0.2 ease;
}

.section4{
    background-image: url('./assets/news-letter-bg.png'); 
    background-size: cover;
    background-position: center;
    padding: 100px 100px;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.subscribe {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 30px auto 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.subscribe input {
    flex: 1;
    padding: 15px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    outline: none;
    color: #333;
}

.subscribe button {
    background-color: #f15a1f;
    color: white;
    padding: 15px 25px;
    border: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

.subscribe button:hover{
    background-color: #f3894c;
    transition: transform 0.2s ease;
}

.final-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 70px;
}


.list-container{
    display: flex;
}

.list-1 li, .list-2 li{
    list-style: none;
    color: grey;
    margin-bottom: 32px;
}

.media-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    bottom: 110px;
}


@media screen and (max-width:768px){
    header, .section1, .section2, .section3, .final-section {
     margin: 10px 16px;
     align-items: center;
     justify-content: center;
     margin: 50px;
    }
    .item, .item2{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    
    .banner-heading, .header{
        font-size: 24px;
    }
    
    .banner-subheading, .sub-header{
        font-size: 14px;
    }

    .grid-container{
        grid-template-columns: repeat(2,171px);
    }

    .grid-img, .grid-button{
        width: 171px;
    }
    
    .section2-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }
    
    .left-image{
        padding: 0 20px;
    }

    .right{
        margin: 0px;
        padding: 10px 20px;
    }
    

    .section3{
        margin-top: 0px;
    }
   
    .badge{
        display: none;
    }

    .section3-container{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas:
            "item1"
            "item2"
            "item3";
    }
    .deal-item1, .deal-item2 , .deal-item3 {
        font-size: 18px;
    }
    
    .final-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    
    .list-container{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 70px;
        right: 40px;
    }

    .media-container{
        margin-top: 10px;
    }


}